<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
  </head>
  <body>
    <div>
      <h3>Hello {{username}}</h3>
      <a href={{link}} target="_blank">Check Your Email To Reset the Password</a>
    </div>
  </body>
</html>